/* $font-stack: "Montserrat", sans-serif;
// "Playfair Display", serif;
// "Roboto", sans-serif;
$primary-color: rgb(22, 128, 177);
$bg: #333;
$bg-el: rgb(23, 119, 184);
$bg-button: rgb(233, 233, 233);
$bg-card: #fff;
$bg-category: #fff;
$bg-footer: #000;
$bg-navbar: rgba(204, 204, 204, 0.424);
$bg-search: rgb(253, 61, 61); */


.App {
  /* width: 96vw; */
  /* margin: 1.5rem auto; */
  font-family: Montserrat, sans-serif;
}

/* #root {
  height: 100%;
} */

body {
  /* height: 100vh; */
  margin: 0;
}

html {
  /* font-size: 16px; */
  font-family: Montserrat, Open Sans, Segoe UI, sans-serif;
  /* font-weight: 500; */
  font-style: normal;
  text-rendering: optimizeLegibility;
  height: 100%;
}
