.next-event {
  border: 1px black solid;
  box-shadow: 3px 3px 10px rgba(144, 144, 144, 0.637);
  border-radius: 2%;
  background-color: rgb(255, 101, 30);
  display: flex;
  margin: 16px;  
  padding: 20px;
  color:aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.next-event p {
  padding: 0;
  margin: 0;
  align-self: flex-start;
}

.next-title {
  font-size: 35px;
}

.next-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  }

.next-venue {
 align-items: center; 
}
